<p-toolbar class="px-4 py-2 m-0 border-bottom shadow-sm d-flex justify-content-between align-items-center w-100">
    <div class="p-toolbar-group-start d-flex align-items-center gap-3">
        @if (isLoggedIn$ | async) {
        <p-button icon="pi pi-bars" [text]="true" [rounded]="true" (onClick)="toggleSidebar()"
            ariaLabel="Menu"></p-button>
        <img [src]="logo$ | async" alt="Logo" style="height: 2.5rem;" />
        <h4 class="m-0 fw-bold fs-4">{{ title$ | async }}</h4>
        }
    </div>

    <div class="p-toolbar-group-center">
        @if ((isLoggedIn$ | async) && isAccountUser && years.length > 0) {
        <div class="d-flex align-items-center gap-2">
            <span class="fw-semibold text-color-secondary fs-6"
                [pTooltip]="selectedYear ? 'START: ' + (selectedYear.startDate | date:'dd-MMM-yyyy') + '<br/>' + 'END: ' + (selectedYear.endDate | date:'dd-MMM-yyyy') : ''"
                [escape]="false" tooltipPosition="bottom" style="cursor: help;">Business Year:</span>
            <p-select [options]="years" size="small" [(ngModel)]="selectedYearId" optionLabel="yearName" optionValue="id"
                placeholder="Select Year" (onChange)="onYearChange()" [style]="{'min-width': '120px'}"
                />
        </div>
        }
    </div>

    <div class="p-toolbar-group-end d-flex align-items-center gap-3">
        @if (isLoggedIn$ | async) {
        <app-theme-switcher></app-theme-switcher>

        <p-menu #menu [model]="impersonationMenuItems" [popup]="true"></p-menu>
        <p-button icon="pi pi-ellipsis-v" [rounded]="true" [text]="true" (onClick)="menu.toggle($event)"
            ariaLabel="Options"></p-button>
        }
    </div>
</p-toolbar>