<p-dialog [visible]="visible" [modal]="true" [style]="{ width: '450px' }" [draggable]="false" [resizable]="false"
    [closable]="false" [closeOnEscape]="false">


    <ng-template pTemplate="header">
        <div class="d-flex align-items-center justify-content-between w-100 pe-3">
            <span class="p-dialog-title m-0">{{ dialogTitle }}</span>
            <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary" (click)="requestClose()"
                styleClass="p-0" [style]="{ width: '2rem', height: '2rem' }" />

        </div>
    </ng-template>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3 pt-2" *ngIf="form">

        <div class="row g-3">

            <!-- Name -->
            <div class="col-12">
                <p-floatlabel variant="on">
                    <p-iconField iconPosition="right">
                        <input id="name" type="text" pInputText formControlName="name" class="w-100" />
                        <p-inputIcon *ngIf="form.get('name')?.invalid && form.get('name')?.touched" 
                            class="pi pi-info-circle text-danger pe-2" 
                            [pTooltip]="form.get('name')?.hasError('required') ? labels.NAME_REQUIRED : labels.NAME_MAX" 
                            tooltipPosition="top" />
                    </p-iconField>
                    <label for="name">{{ labels.NAME }}</label>
                </p-floatlabel>
            </div>

            <!-- Phone No -->
            <div class="col-12">
                <p-floatlabel variant="on">
                    <p-iconField iconPosition="right">
                        <input id="phoneNo" type="tel" pInputText formControlName="phoneNo" class="w-100" />
                        <p-inputIcon *ngIf="form.get('phoneNo')?.invalid && form.get('phoneNo')?.touched" 
                            class="pi pi-info-circle text-danger pe-2" [pTooltip]="labels.PHONE_MAX" tooltipPosition="top" />
                    </p-iconField>
                    <label for="phoneNo">{{ labels.PHONE_NO }}</label>
                </p-floatlabel>
            </div>

            <!-- Email -->
            <div class="col-12">
                <p-floatlabel variant="on">
                    <p-iconField iconPosition="right">
                        <input id="email" type="email" pInputText formControlName="email" class="w-100" />
                        <p-inputIcon *ngIf="form.get('email')?.invalid && form.get('email')?.touched" 
                            class="pi pi-info-circle text-danger pe-2" [pTooltip]="labels.EMAIL_INVALID" tooltipPosition="top" />
                    </p-iconField>
                    <label for="email">{{ labels.EMAIL }}</label>
                </p-floatlabel>
            </div>

            <!-- Occupation -->
            <div class="col-12">
                <p-floatlabel variant="on">
                    <input id="personOccupation" type="text" pInputText formControlName="personOccupation" class="w-100" />
                    <label for="personOccupation">{{ labels.OCCUPATION }}</label>
                </p-floatlabel>
            </div>

            <!-- Address -->
            <div class="col-12">
                <p-floatlabel variant="on">
                    <textarea id="address" pInputTextarea formControlName="address" rows="3" class="w-100" [autoResize]="true"></textarea>
                    <label for="address">{{ labels.ADDRESS }}</label>
                </p-floatlabel>
            </div>

        </div>

    </form>

    <ng-template pTemplate="footer">
        <div class="d-flex gap-2 justify-content-end">
            <p-button [label]="labels.CANCEL" icon="pi pi-times" severity="secondary" [text]="true"
                (click)="requestClose()" />
            <p-button [label]="labels.SAVE" icon="pi pi-check" type="button" (click)="onSubmit()" />

        </div>
    </ng-template>

</p-dialog>
