<p-dialog *ngIf="isDialog" [(visible)]="visible" [modal]="true" [style]="{width: '90vw', height: '90vh'}"
    [contentStyle]="{'display': 'flex', 'flex-direction': 'column'}"
    [maximizable]="true" [draggable]="false" [resizable]="false" (visibleChange)="!$event && onHideDialog()"
    header="Customer Buying Bills">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</p-dialog>

<ng-container *ngIf="!isDialog">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ng-container>

<ng-template #content>
    <!-- Summary Cards -->
    <app-statistics-cards [cards]="statisticCards"></app-statistics-cards>

    <app-rf-grid [config]="gridConfig" (selectionChange)="onSelectionChange($event)" class="d-block w-100 h-100" [ngClass]="{'d-flex flex-column flex-grow-1 overflow-hidden': isDialog}">
        
        <ng-template pTemplate="toolbarEnd">
            <p-splitButton icon="pi pi-send" label="Send Message" 
                [model]="sendMessageMenuItems" severity="info" size="small" [outlined]="true"
                *ngIf="canSendWhatsApp || canSendEmail" />
        </ng-template>

    </app-rf-grid>
</ng-template>
