<p-dialog [maximizable]="true" [visible]="visible" [modal]="true" [style]="{ width: '400px' }" [draggable]="true"
    [resizable]="true" [closable]="false" [closeOnEscape]="false">

    <ng-template pTemplate="header">
        <div class="d-flex align-items-center justify-content-between w-100 pe-3">
            <span class="p-dialog-title m-0">{{ labels.RESET_PASSWORD_HEADER }}</span>
            <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary" styleClass="p-0"
                [style]="{ width: '2rem', height: '2rem' }" (onClick)="requestClose()" />
        </div>
    </ng-template>

    <div class="pt-2" *ngIf="resetPasswordForm" [formGroup]="resetPasswordForm">
        <p-floatlabel variant="on">
            <p-password inputId="newPassword" formControlName="newPassword" [toggleMask]="true" [feedback]="false"
                styleClass="w-100" inputStyleClass="w-100" autocomplete="new-password" />
            <label for="newPassword">{{ labels.PASSWORD }}</label>
        </p-floatlabel>
        @if (resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched) {
        @if (resetPasswordForm.get('newPassword')?.hasError('required')) {
        <p-message severity="error" size="small" variant="simple" [text]="labels.PASSWORD_REQUIRED"
            class="mt-1 d-block" />
        } @else if (resetPasswordForm.get('newPassword')?.hasError('minlength')) {
        <p-message severity="error" size="small" variant="simple" [text]="labels.PASSWORD_MIN"
            class="mt-1 d-block" />
        }
        }
    </div>

    <ng-template pTemplate="footer">
        <div class="d-flex gap-2 justify-content-end">
            <p-button [label]="labels.CANCEL" icon="pi pi-times" severity="secondary" [text]="true"
                (onClick)="requestClose()" />
            <p-button [label]="labels.SAVE" icon="pi pi-check" severity="help" (onClick)="submitResetPassword()" />
        </div>
    </ng-template>
</p-dialog>
